<div class="about">
    <p>Cardinal eSports Club is here to provide our members with a <span class="highlight">community</span> centered around
        <span class="highlight">competitive gaming</span> culture.</p>
    <p>We want to establish ourselves as a <span class="highlight">competitive entity</span> for events in and around the
        <span class="highlight">Louisville</span> area.</p>
    <p>We will engage in philanthropic ventures through charities such as <span class="highlight">Extra Life</span>, and become
        a liaison to organizations like <span class="highlight">LanWar, Inc.</span><br/> who host LanWar and MillionManLan
        here on campus</p>

    <div class="contact-info">
        <p>Contact Info:</p>
        <div class="flex-container">
            <div class="inline-group">Drew Hill, President: <br/>arhill05@louisville.edu</div>
            <div class="inline-group">Joseph Eckl, Executive Officer: <br/>jgeckl01@louisville.edu</div>
            <div class="inline-group">Facebook: <br/><a href="https://www.facebook.com/cardinalesports/">https://www.facebook.com/cardinalesports/</a></div>
        </div>
    </div>